<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="background-image:url(/images/geometry.jpg)">
<% include partials/navbar %>
<div id="wrapper">
	<% include partials/sidebar %>
	<% include partials/bs-boilerplate-start %>
	
	<!-- Content -->
    <!-- Back up a subject -->
    <% if (subject.ownerid) { %>
        <small><a href="/subjects/<%= subject.ownerid %>">Back up</a></small>
	<% } %>
    <h1><% if (subject == null) { %> Root <% } else { %><%= subject.name %><% } %></h1>
	<% if ( questions.length >0 ) { %>
			<% if (subscribed) { %>
				<h3><a href="/subjects/<%=subject.id%>/unsubscribe/">Unsubscribe</a></h3>
			<% } else { %>
			<h3><a href="/subjects/<%=subject.id%>/subscribe/">Subscribe</a></h3>
		<% } %>
	<% } %>
	<% if (subjects.length > 0) { %>
		<h2>Subjects</h2>
		<ul>
		<% for (var i = 0; i < subjects.length; i++ ) { %>
			<li><a href='/subjects/<%= subjects[i].id %>'><%= subjects[i].name %></a></li>
		<% } %>
		</ul>
	<% } %>
	<% if (questions.length > 0) { %>
		<h2>Questions</h2>
		<ul>
		<% for (var i = 0; i < questions.length; i++ ) { %>
			<li><a href='/questions/<%= questions[i].id %>'><%= questions[i].text %></a></li>
		<% } %>
		</ul>
	<% } %>
    
    <!-- admin stuff -->
    <% if (admin) { %>
        <h4>Hey admin, want to make some changes?</h4>
        <ul>
            <li><a href="/subjects/<%= subject.id %>/add-subject">Add a new subcategory.</a></li>
            <li><a href="/subjects/<%= subject.id %>/add-question">Add a new question.</a></li>
            <li><a href="/subjects/<%= subject.id %>/delete">Delete this pos.</a></li>
        </ul>
    <% } %>
    
	
	<% include partials/bs-boilerplate-end %>
</div>
</body>
</html>